.ber-mich {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    background-color: var(--black_900);
    width: 100%;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 550px) {
      padding-top: var(--space-sm);
      padding-bottom: var(--space-sm);
    }
  }
  
  .rowheaderlogo {
    margin-bottom: 340px;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1440px) {
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  
    @media only screen and (max-width: 1050px) {
      padding-left: var(--space-md);
      padding-right: var(--space-md);
    }
  }
  
  .bermich {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerheaderlog-1 {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
    }
  }
  
  .bermich-1 {
    margin-top: 306px;
    font-family: Segoe UI !important;
    @media only screen and (max-width: 1440px) {
      font-size: 48px;
    }
  }
  
  .description {
    margin-top: 84px;
    font-family: Segoe UI !important;
    font-weight: 600 !important;
    width: 70%;
    line-height: 31px;
    @media only screen and (max-width: 1440px) {
      width: 100%;
    }
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }  