.row-1 {
    margin-right: 12px;
    display: flex;
    justify-content: space-between;
    gap: var(--space-md);
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
      margin-right: 0px;
    }
  }

.J-Code
{
  margin-left: 178px; 
}

@media only screen and (max-width: 700px) {
  .J-Code {
    margin-left: 0;
    width: 100%;
    max-width: 320px;
  }
}
