.row-2 {
    margin-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
      margin-right: 0px;
    }
  }

img.php-code
{
  margin-left: 178px; 
}
  